
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #E2E2DA;
}

thead th {
    cursor: pointer;
    vertical-align: top;
    height: 75px;
    background-color: #FAFAF5 !important;
    border: none;
    font-weight: normal;
    /* text-align: center; */
}

#th-name {
    border-right: 2px solid #dee2e6; 
}

tbody td {
    border: none;
    padding-top: 10px;  
    padding-bottom: 10px;
}

tbody td:nth-child(3) {
    border-right: 2px solid #dee2e6; 
}

tbody td:nth-child(1), 
tbody td:nth-child(4) {
    padding-left: 15px; 
}


.density-box, .viscosity-box, .quantity-box {
    border: 1px solid #DBDBD1;
    display: block; 
    padding: 1px 3px;  
    width: calc(100% - 10px); 
    height: calc(100% - 5px); 
    text-align: center;
    margin: 0; 
    box-sizing: border-box; 
}




tbody tr:hover {
    background-color: #f0f0f0;
}


.selected {
    background-color: #E6E8FF !important; 
}

.table-hover tbody tr:hover {
    background-color: inherit !important; 
}

tbody tr.selected {
    background-color: #E6E8FF !important;
}

table tbody tr.selected {
    background-color: #E6E8FF !important;
}

#th-vendor {
    padding-left: 15px; 
}

#th-selector {
    padding-left: 15px; 
}

.grey-tick {
    color: grey;
}

.blue-tick {
    color: blue;
}

tbody tr {
    line-height: 1.5;  
    height: 45px; 
}


